<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.dao.batis.IMovieMapper">

	<select id="getNewMovie" resultType="TMovie">
		select mid,mname,score,cover from TMovie where state=1
	</select>
	
	<select id="getFutureMovie" resultType="TMovie">
		select mid,mname,director,length,actor,bgdate,cover from TMovie where
		state=2
	</select>
	
	<select id="getMovie" resultType="TMovie">
		select mid,mname,length,area,type,director,score,details,bgdate,sealnum,actor,cover
		from TMovie where mid=#{mid}
	</select>
	
	<select id="getAllNewMovie" resultType="TMovie">
		select * from TMovie where state=1
	</select>
	
	<select id="getAllFutureMovie" resultType="TMovie">
		select * from TMovie where state=2
	</select>
	<select id="getActor" resultType="TActor">
		select * from TActor where mid=#{mid}
	</select>



	<select id="getAllGrally" resultType="TGrally">
		select * from TGrally
	</select>
	
	<select id="getNewestMovie" resultType="TMovie">
		select
		mid,mname,length,area,type,director,
		score,details,bgdate,sealnum,actor,cover,state from(select rownum rw,tm.* from
		((select * from TMovie where bgdate &lt; #{indate} order by bgdate desc )tm))
		where rw>=1 and rw &lt; 5
	</select>
	
	<select id="getsyMovie" resultType="TMovie">
		select
		mid,mname,length,area,type,director,
		score,details,bgdate,sealnum,actor,cover,state from(select rownum rw,tm.* from
		((select * from TMovie where bgdate > #{indate} order by bgdate asc )tm))
		where rw>=1 and rw &lt; 5
	</select>



</mapper>