<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.dao.batis.IMovieMapper">

 	<select id="getNewMovie" resultType="Movie">
        select  mid,mname,score,cover from TMovie where state=1
     </select>
     <select id="getFutureMovie" resultType="Movie">
        select  mid,mname,director,length,actor,bgdate,cover from TMovie where state=2
     </select>
      <select id="getMovie" resultType="Movie">
        select mid,mname,length,area,type,director,score,details,bgdate,sealnum,actor,cover from TMovie where mid=#{mid}
     </select>
     <select id="getActor" resultType="TActor">
     	select * from TActor where mid=#{mid}
     </select>
     <select id="getAllNewMovie" resultType="Movie">
        select  * from TMovie where state=1
     </select>
     <select id="getAllFutureMovie" resultType="Movie">
        select  *  from TMovie where state=2
     </select>
</mapper>