<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>		
		<setting name="jdbcTypeForNull" value="NULL" />		
	</settings>
	
	<typeAliases>
          <typeAlias alias="TUser" type="com.hjy.entity.TUser"/>
          <typeAlias alias="Movie" type="com.hjy.entity.Movie"/>
          <typeAlias alias="TActor" type="com.hjy.entity.TActor"/>
    </typeAliases>

	<mappers>
		<mapper resource="com/hjy/dao/batis/LoginMapper.xml" />
		<mapper resource="com/hjy/dao/batis/movieMapper.xml" />

	</mappers>


</configuration>